{% extends 'admin/master.html' %}
{% block head %}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- include summernote css/js -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
{% endblock %}
{% block body %}
<form method="post" method="POST">
  {{ form.csrf_token() }}
  {{ form.subject.label }}<br>
  {{ form.subject }}<br>
  {{ form.summernote() }}
  <button type="submit">Send letter</button>
</form>

<script>
    $('#summernote').summernote();
</script>

{% endblock %}